<% include ./partials/header %>

<div class="centered">
    <h1>Login!</h1>
    <form action="/Login" method="POST">
        <input type="text" name="username" placeholder="username" class="block">
        <input type="password" name="password" placeholder="password" class="block">
        <input type="submit" value="Login">
    </form>
</div>

<% include ./partials/footer %>